<!-- hibernate.cfg.xml -->
<hibernate-configuration>
    <session-factory>
        <!-- Database connection properties -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/postgres</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">4652343L</property>

        <!-- Hibernate dialect for PostgreSQL -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <!-- Enable Second Level Cache -->
        <property name="hibernate.cache.use_second_level_cache">true</property>

        <!-- Specify the caching provider (Ehcache) -->
        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>

        <!-- Enable Query Cache -->
        <property name="hibernate.cache.use_query_cache">true</property>

        <property name="connection.pool_size">1</property>
        <!-- Enable Hibernate's automatic session context management -->
        <!-- <property name="hibernate.current_session_context_class">thread</property>-->

        <!-- Echo all executed SQL to stdout -->

        <property name="hibernate.show_sql">true</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Mapping annotated class -->
        <mapping class="org.example.Book"/>
        <mapping class="org.example.Customer"/>
        <mapping class="org.example.Sale"/>

    </session-factory>
</hibernate-configuration>
